# name: Release

# on:
#   workflow_run:
#     workflows: ["CI"]
#     types: [completed]

# permissions:
#   contents: write
#   issues: write
#   pull-requests: write
#   id-token: write

# jobs:
#   release:
#     if: >-
#       ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4
#         with:
#           fetch-depth: 0
#           ref: ${{ github.event.workflow_run.head_sha }}
#       - name: Setup Node
#         uses: actions/setup-node@v4
#         with:
#           node-version: 20
#           cache: npm
#       - name: Install deps
#         run: npm ci
#       - name: Semantic Release
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         run: npx semantic-release
